.container {
    width: 960px;
}

.flex-container {
    display: flex;
}

.flex-item {
    box-sizing: border-box; /* border-box tells the browser to account for any border and padding in the values you specify for an element's width and height */
    flex: 1 0 auto;
    height: 60px;
    border: 1px solid #b2b2b2;
    margin: 0;
}

#size-button {
    border: 1px solid rgb(151, 151, 161);
    background-color: rgb(14, 170, 209);
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 26px;
    margin: 10px auto;
    border-radius: 10px;
}

#size-button:hover {
    background-color: white;
    color: rgb(14, 170, 209);
}